.like__content{
  height: 1em;
  background-color: #F36223;
  text-align: center;
  position: relative;
  bottom: 33px;
  left: -10px;
  border-radius: 50%;
  width: 25%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
}
.like__content_count{
  line-height: 0;
  color: white;
}
.like__content::after{
  content: '';
  padding-top: 100%;
  display:table;
} 