.reviews__hr {
  display: none;
  border-top: 1px dashed var(--gray-color);
  margin: 0px 0px 40px 170px;
}
.reviews__hr:not(:last-child){
  display: block;
}
.reviews__header_nameANDcount{
  margin: 65px 0px 30px 0px;
}
.reviews__review_reviewerFoto{
  height: 140px;
  float: left;
  border-radius: 100px;
}
.review__text-block_reviewerName{
  font-size: 20px;
  font-weight: 700;
  line-height: 24.2px;
}
.review__text-block-content_text{
  margin: 0px;
  font-size: 14px;
  font-weight: 400;
}
.review__text-block-content_text_bold{
  font-size: 14px;
  font-weight: 700;
  line-height: 16.94px;
}
@media (max-width: 361px) {
  .reviews__review {
    display: inline-block!important;
  }
  .reviews__review_reviewerFoto{
    display: flex;
    height: 3.33em;
  }
  .review__text-block_reviewerName {
    margin: 0;
  }
  .review__text-block_reviewerName::before{
    content: "__";
    opacity: 0;
  }
  .review__text-block__text{
    float: left;
  }
  .reviews__hr {
    margin: 0px 0px 40px 0px;
  } 
  .new-review__input-form {
    width:21.61em;
  }
  .new-review__input-form__fields {
    gap: 1em;
  }
  .new-review__input-form__head {
    flex-direction: column;
    gap: 1em;
  }
}
