.header{
  width: 100%;
  top: 0px;
  background-color: rgba(255,255,255,0.8);
}
.header__market-logo_MainLine{
  display:flex;
  flex-grow: 0.95;
  justify-content: space-between;
  align-items: center;
}
.header__link{
  text-decoration: none;
}
.header__icons{
  display:flex;
  justify-content: space-between;
  padding-top: 0.5em;
}
.header__market-logo {
  font-weight: 700;
  font-size: 44px;
  letter-spacing: 1px;
  line-height: 53px;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.header__market-logo__name{
  display:flex;
  color:black;
}
.header__hr-line{
  display: none;
  padding: 5px 0px;
  margin-bottom: 10px;
  border-bottom: 1px solid black;
}
.header__market-logo_ico{
  position:relative;
  top: 3px;
  max-height: 43px;
}
.header__market-logo__name_first-name-word, .footer_First-name-word {
  color: #FF5722;
}
