.reviews__header_nameANDcount{
  display: flex;
  gap: 10px;
  font-size: 24px;
}
.reviews__nameANDcount_headline{
  font-weight: 700;
}
.reviews__nameANDcount_count{
  color: #aaaaaa;
}
.reviews__review{
  display: flex;
  flex-direction: row;
  gap: 30px;
  padding-bottom: 40px;
}