.basket__content{
  height: 1em;
  background-color: #F36223;
  text-align: center;
  position: relative;
  bottom: 3.8em;
  left: 2.8em;
  border-radius: 50%;
  width: 25%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
}
.header__basket{
  line-height: 0;
}
.basket__content_count{
  line-height: 0;
  color: white;
}
.basket__content_added{
  opacity: 1;
}
.header__basket{
  padding-right: 55px;
  line-height: 0;
  
}
.basket__content::after{
  content: '';
  padding-top: 100%;
   display:table; 
}