.footer{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #F2F2F2;
  padding: 30px 50px;
  margin-top: 100px;
}
.footer__kontakts{
  display: flex;
  flex-direction: column;
}
.kontakts__name{
  font-size: 14px;
  font-weight: 700;
  line-height: 17px;
  letter-spacing: 0em;
  text-align: left;
}
.kontakts__detailed-info, .kontakts__colaboration{
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: 0em;
  text-align: left;
}
.kontakts__detailed-info_link, .kontakts__colaboration_link{
  color:#008CF0;
}
.footer__anker_NOunderline{
  text-decoration: none;
  font-size: 16px;
  font-weight: 400;
  line-height: 19.36px;
  color: #008CF0;
}
.footer__links {
  white-space: pre;
}
.footer__links:hover{
  color: #DA4A0C;
}
.footer__links:active{
  color: #A93A09;
}