.ads__body{
  box-sizing: border-box;
  height: 16.666666666666668em;
  width: 23.333333333333332em;
  padding: 10px;
  border:1px dashed var(--gray-color);
  background: #f0f0f0;
}
.ads__container{
  font-family: 'Inter', sans-serif;
  color: #888888;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}