.tagline {
  font-style:italic;
  font-weight: 400;
}
.nomarginparagraph{
  margin: 0;
}
.poduct-description {
  display: flex;
  flex-direction: column;
  gap: 15px;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
}
.poduct-description__text{
  display: flex;
  flex-direction: column;
  gap: 0.83em;
  margin: 0;
}
.poduct-description__headline, .table__headline {
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  margin-bottom: 0px;
}
.paragraphs{
  display: flex;
  flex-direction: column;
  gap: 0.83em;
}