.nav-menue{
  color: #018ad2;
}
.nav-menue__item {
  display: inline-flex;
  font-size: 16px;
  padding: 8px 0px 8px 0px;
  color: blue;
}
.nav-menue__item:not(:last-child)::after {
  content:">";
  color: black;
  margin: 0px 4px;
}