.pageindex__plug{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-self: center;
  flex-grow: 1;
}
.pageindex__plug__text{
  max-width: 25em;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.pageindex__plug__link{
  text-decoration: none;
}
.pageindex__plug__link:hover{
  color: #F36223;
}
.pageindex__plug__link:active{
  color: #A93A09;
}
