.product-information__characteristics-block{
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.characteristics-block__headline_NOmargin{
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  margin: 0;
}