.link:hover{
  color: #F36223;
}
.link:active{
  color: #A93A09;
}
.link:link{
  text-decoration: none;
}
.characteristics-block__list{
  /* list-style:none; */
  padding-left: 0px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-size: 16px;
  font-weight: 500;
}
.characteristics-block__list_items::before{
  content: "\2B24";
  font-size: 10px;
  color: #888888;
  margin-right:10px;
}
.characteristics-block__list_items{
  display:flex;
  align-items: center;
}