:root {
  --gray-color: #888888;
}
.container{
  min-height: 98vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  font-family: 'Inter', sans-serif;
  font-size: 18px;
}

.container__conten-centring{
  margin-top: 65px;
  margin-left: 25px;
}
.header{
  position: fixed;
}
.product-wrapper{
  display: flex;
  flex-direction: column;
  gap: 1.66em;
}
.product-wrapper__product-name{
  display: flex;
  flex-direction: column;
  gap: 1.11em;
  margin-top: -1.66em;

}
.product-wrapper__product-name_headline{
  font-size: 32px;
  font-weight: 700;
  line-height: 39px;
  letter-spacing: 0em;
  text-align: left;
}
.product-wrapper__product-name_product-views{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: nowrap;
  align-items: center;
  padding: 0px;
  gap: 10px;
}
.product-wrapper2__product-name_product-views{
  height: 340px;
  background-color: aqua;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: nowrap;
  align-items: center;
  padding: 0px;
  gap: 10px;
}
.Ilook{
  height: 387px;
}
.product-information{
  display:flex;
  flex-direction: row;
  gap: 50px;
}
.product-information__characteristics{
  display: flex;
  flex-direction: column;
  gap: 30px
}
.characteristics-block__list_bold {
  font-weight: bold;
  white-space: pre;
}
.product-palette__item{
  height: 80px;
  border: 1px solid var(--gray-color);
  border-radius: 4px;
  background-size: 30px;
  background-repeat: no-repeat;
  background-position:center;
  display:flex;
  justify-content:center;
  align-items:center;
  padding: 0px 20px;
}
.product-information__sidebar {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}
.priceANDdelivery__aboveheadline{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.priceANDdelivery__heartSVGicon_radio{
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
  cursor: pointer;
}
.priceANDdelivery__heartSVGicon_radio:checked > .heartSVGicon{
  fill: #A93A09;
}
.heartSVGicon{
  display: block;
  margin: auto;
  fill: darkgray;
}
.heartSVGicon:hover{
  fill: #F36223;
}
.priceANDdelivery__heartSVGicon_radio:checked + .heartSVGicon{
  fill: #A93A09;
}
.priceANDdelivery__main-headline{
  font-size: 32px;
  font-weight: 500;
  line-height: 39px;
  letter-spacing: 0em;
  text-align: left;

}
.sidebar__priceANDdelivery{
  border: 1px solid #EEEEEE;
  border-radius: 20px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 15px;
}
.priceANDdelive__price_cross{
  color: var(--gray-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
  text-decoration: line-through;
}
.priceANDdelive__price_discount{
  color: white;
  font-size: 16px;
  line-height: 16px;
  font-weight: 500;
  padding: 4px 8px;
  border-radius: 500px;
  background-color: #F36223;
}
.product-information__sidebar__price__main-headline{
  font-weight:500;
  font-size: 32px;
  margin-bottom: 15px;
}
.priceANDdelivery__delivery{
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 20px;
}
.priceANDdelivery__delivery-terms{
  display:block;
  font-weight:400;
  font-size: 16px;
  line-height: 19px;
}
.priceANDdelivery__basket-add-button{
  border: 0px solid transparent;
  border-radius: 4px;
  padding: 20px 92px;
  background-color: #F36223;
  color: #FFFFFF;
}
.basket-add-button_used{
  border: 0px solid transparent;
  border-radius: 4px;
  padding: 20px 59px;
  background-color: #888888;
  color: #FFFFFF;
}
.priceANDdelivery__basket-add-button:hover{
  background-color: #DA4A0C;
}
.priceANDdelivery__basket-add-button:active{
  background-color: #A93A09;
} 
.priceANDdelivery__basket-add-button_text{
  display: flex;
  gap: 17px;
  align-items: center;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
}
.priceANDdelivery__basket-add-button_text::before{
  content: url("/public/img/basket.svg");
  margin: auto;
}
.sidebar__advertisment_header{
  display:block;
  font-size: 14px;
  font-weight: 400;
  line-height: 16.94px;
  color: var(--gray-color);
}
.table__compare_caption{
  display: none;
}
.table__compare{
  width: 100%;
  border: 1px solid black;
  border-collapse: collapse;
}
.comparing-block__table{
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.table__compare_cell{
  padding: 10px 0px 10px 0px;
  text-align: center;
  border-left: 1px solid black;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
}
.table__compare_Head-cell{
  border: 1px solid black;
  border-collapse: collapse;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
}
.table__compare_rows:hover{
  background-color: #F2F2F2;
}
.reviews__header{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-content: center;
  margin: 65px 0px 30px 0px;
}
.reviews__header_button {
  padding: 10px 20px;
  border-radius: 4px;
  background-color: white;
  font-size: 16px;
  line-height: 19px;
  font-weight: 500;
}
.input-form__fields{
  border: none;
  width: 100%;
  padding: 0px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.form__wrapper{
  display: flex;
  gap: 30px;
}
.lessOrEqual361{
  display: none;
}
.ads__body{
  margin: 0;
  height: 100vh;
}
.ads__container{
  font-family: 'Inter', sans-serif;
  color: #888888;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}
footer{
  margin-top: auto;
}
.footer361{
  display: flex;
  justify-content: space-between;
  width: -webkit-fill-available;
}
.footer__links {
  text-decoration: none;
}
.footer__links::before{
  content: " ";
}
.footer__anker {
  color: #008CF0;
}
@media (max-width: 1499px) {
  .container{
      margin: 0 auto;
      display: flex;
      justify-content: center;
      font-family: 'Inter', sans-serif;
      font-size: 16px;
  }
  .container__conten-centring{
      padding: 0px 15px;
  }
  .product-wrapper__product-name_product-views{
    gap: 0;
    justify-content: space-around;
  }
  .Ilook{
      height: 272px;
  }
  .sidebar__advertisment{
    margin-top: 2em;
  }
  .priceANDdelivery__basket-add-button{
      padding: 20px 62px;
  }
  .product-information{
      gap: 40px;
  }
  .poduct-description__text {
    font-size: 0.8em;
  }
  .reviews__review_reviewerFoto{
      height: 100px;
  }
  .reviews__review_review-score{
      transform-origin: 0px 0px;
      transform: scale(0.75);
  }
  .comparing-block__table{
    display: none;
}
  .new-review{
      padding: 20px 0px 0px 0px;
  }
  .form__wrapper{
    gap: 0;
  }
  .hidden{
    display: none;
  }
}
@media (max-width: 361px) {
  .container__conten-centring {
     padding: 0px; 
  }
  .container__conten-centring {
    padding: 0px;
    margin-left: 0px;
  }
  .header__market-logo_MainLine {
    flex-grow: 0;
  }
  .header__market-logo {
    font-weight: 700;
    font-size: 23px;
    letter-spacing: 1px;
    line-height: 53px;
  }
  .header__market-logo_ico {
    max-height: 30px;
  }
  .header__icons {
    padding-top: 0.5em;
    margin-left: 2em;
  }
  .basketico {
    width:1.3694em;
  }
  .basket__content {
    bottom: 2.9em;
    left: 2.2em;
  }
  .heartico{
    width: 1.4455em;
  }
  .like__content {
    bottom: 2.5em;
    left: -0.6em;
  }
  .product-wrapper__product-name_headline{
    font-size: 1.33em;
  }
  .product-wrapper__product-name_product-views {
    justify-content: center;
}
  .Ilook {
    height: 15.1em;
  }
  .IlookHidden {
    display: none;
  }
  .product-palette__item {
    height: 3.33em;
    padding: 5px 17.11px;
  }
  .product-information__characteristics {
    width: 361px;
  }
  .characteristics-block__product-palette {
    flex-wrap: wrap;
  }
  .lessOrEqual361{
    display: block;
  }
  .moreThan361 {
    display: none;
  }
  .sidebar__advertisment, .ads__body, .sidebar__advertisment_header {
    display: none;
  }
  .priceANDdelivery__basket-add-button {
    padding: 10px 30px;
  }
  .product-information__characteristics-block {
    font-size: 0.77em;
  }
  .characteristics-block__list_item_nowrap {
    white-space: pre;
  }
  .characteristics-block__list_items {
    display: inline-flex;
    flex-wrap: wrap;
  }
  /* .reviews__review {
    display: inline-block!important;
  }
  .new-review__input-form__fields {
    gap: 1em;
  }
  .new-review__input-form__head {
    flex-direction: column;
    gap: 1em;
  } */
  .footer {
    margin: 0;
    padding: 0;
    margin-top: 40px;
    width: -webkit-fill-available;
  }
  .footer361{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}