.new-review{
  flex-grow: 1;
}
.new-review__input-form{
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.new-review__input-form__caption{
  font-size: 16px;
  font-weight: 700;
  line-height: 19.36px;
}
.new-review__input-form__fields{
  border: none;
  width: 100%;
  padding: 0px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.new-review__input-form__head{
  position: relative;
  display: flex;
  gap: 40px;
  justify-content: space-between;
}
.input-form__input{
  box-sizing: border-box;
  padding:15px 0px 15px 20px;
  border: 1px solid #888888;
  font-size: 16px;
  font-weight: 500;
  line-height: 19.36px;
  resize:vertical;
}
.input-form__input_textarea::-webkit-resizer{
  display: none;
}
.new-review__input-form__head_name {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-grow: 2;
}
.score_error_message, .name_error_message{
  position: absolute;
  top: 100%;
  display: none;
  font-size: 12px;
  color: white;
  padding: 8px 20px;
  background-color: #DA4A0C;
}
.error_border{
  border-color: #DA4A0C;
}
.score_error, .name_error{
  display: flex;
}
textarea:focus, input:focus{
  outline: none;
}
.errorName{
  background-color: #A93A09;
  height: 10px;

}
.new-review__input-form__head_score {
  position: relative;
  display: flex;
  flex-direction: column;
}
.rating::-webkit-outer-spin-button, .rating::-webkit-inner-spin-button{
  display: none;
}
.input-form__input::placeholder{
  font-size: 16px;
  font-weight: 500;
  line-height: 19px;
  color: var(--gray-color);
}
.input-form__input:active, .input-form__input:hover {
  border: 1px solid black;
}
.input-form__submit-button{
  padding: 10px 20px;
  width: fit-content;
  background-color: #F36223;
  color: white;
  border-radius: 4px;
  border: none;
}
.input-form__submit-button:hover{
  background-color: #DA4A0C;
}
.input-form__submit-button:active{
  background-color: #A93A09;
}
.hidden{
  opacity: 0;
}