.characteristics-block__headline_NOmargin_color{
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  margin: 0;
}
.characteristics-block__product-palette{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}
.characteristics-block__product-palette_IsmallLook{
  height: 3.3333333333333335em;
  width: 1.6666666666666667em;
}
.product-palette__item:hover{
  background-color: #F2F2F2;
}
.product-palette__item_selected{
  outline: 1px solid red;
}