@media (max-width: 1500px) {
    .container{
        margin: 0 auto;
        display: flex;
        justify-content: center;
        font-family: 'Inter', sans-serif;
        font-size: 16px;
    }
    .container__conten-centring{
        padding: 0px 15px;
    }
    .header__market-logo_MainLine{
        max-width: 1024px;
        display:flex;
        flex-grow: 1;
        justify-content: space-between;
    }
    .Ilook{
        height: 272px;
    }
    .priceANDdelivery__basket-add-button{
        padding: 20px 62px;
    }
    .product-information{
        gap: 40px;
    }
    .reviews__review_reviewerFoto{
        height: 100px;
    }
    .reviews__review_review-score{
        transform-origin: 0px 0px;
        transform: scale(0.75);
    }
    .product-wrapper__product-name_product-views{
        justify-content: space-around;
        
    }
    .new-review{
        padding: 20px 0px 0px 0px;
    }
    .comparing-block__table{
        display: none;
    }
}
