.ads__body{
    margin: 0;
    height: 100vh;
}
.ads__container{
    font-family: 'Inter', sans-serif;
    color: #888888;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}