:root {
    --gray-color: #888888;
}
.container{
    margin: 0 auto;
    max-width: 1500px;
    display: flex;
    justify-content: center;
    font-family: 'Inter', sans-serif;
    font-size: 18px;
}

.container__conten-centring{
    margin-top: 126px;
    margin-left: 25px;
}
.header{
    width: 100%;
    position: fixed;
    top: 0px;
    background-color: rgba(255,255,255,0.8);
}
.header__market-logo_MainLine{
    max-width: 1500px;
    display:flex;
    flex-grow: 1;
    justify-content: space-between;
    align-items: center;
}
.header__icons{
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 0.5em;
}
.header__basket{
    padding-right: 55px;
    line-height: 0;
}

.basket__content, .like__content{
    background-color: #F36223;
    text-align: center;
    position: relative;
    bottom: 42px;
    left: 30px;
    border-radius: 50%;
    width: 25%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
}
.basket__content{
    bottom: 45px;
    opacity: 0;
}
.basket__content_added{
    opacity: 1;
}
.basket__content::after {
    content: '';
    padding-top: 100%;
    display:table;
  }
.basket__content_count, .like__content_count{
    line-height: 0;
    color: white;
}
.header__like{
    line-height: 0;
}
.like__content::after{
    content: '';
    padding-top: 100%;
    display:table;
}
.header__market-logo{
    font-style: normal;
    font-weight: 700;
    font-size: 44px;
    letter-spacing: 1px;
    line-height: 53px;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.header__hr-line{
    display: none;
    padding: 5px 0px;
    margin-bottom: 10px;
    border-bottom: 1px solid black;
}
.header__market-logo_ico{
    position:relative;
    top: -3px;
    max-height: 43px;
}
.header__market-logo_first-name-word, .footer_First-name-word {
    color: #FF5722;
}
.nav-menue{
    color: #018ad2;
}
.nav-menue__item {
    display: inline-flex;
    font-size: 16px;
    padding: 8px 0px 8px 0px;
}
.link:hover{
    color: #F36223;
}
.link:active{
    color: #A93A09;
}
.link:link{
    text-decoration: none;
}
.product-wrapper{
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.product-wrapper__product-name{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.product-wrapper__product-name_headline{
    font-size: 32px;
    font-weight: 700;
    line-height: 39px;
    letter-spacing: 0em;
    text-align: left;
}
.product-wrapper__product-name_product-views{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: nowrap;
    align-items: center;
    padding: 0px;
    gap: 10px;
}
.Ilook{
    height: 387px;
}
.product-information{
    display:flex;
    flex-direction: row;
    gap: 50px;
}
.product-information__characteristics{
    display: flex;
    flex-direction: column;
    gap: 30px
}
.product-information__characteristics-block{
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.characteristics-block__headline_NOmargin{
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    margin: 0;
}
.characteristics-block__product-palette, .product-information__characteristics_memory{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}
.product-palette__item{
    height: 80px;
    border: 1px solid var(--gray-color);
    border-radius: 4px;
    background-size: 30px;
    background-repeat: no-repeat;
    background-position:center;
    display:flex;
    justify-content:center;
    align-items:center;
    padding: 0px 20px;
}
.product-palette__item:hover{
    background-color: #F2F2F2;
}
.characteristics-block__product-palette_IsmallLook{
    height: 3.3333333333333335em;
    width: 1.6666666666666667em;
}
.product-information__characteristics_memory_item{
    height: 39px;
    border: 1px solid var(--gray-color);
    border-radius: 4px;
    background-size: 30px;
    background-repeat: no-repeat;
    background-position:center;
    display:flex;
    justify-content:center;
    align-items:center;
    padding: 0px 20px;
}
.product-information__characteristics_memory_item:hover{
    background-color: #F2F2F2;
}
.product-palette_radio, .product-information__characteristics_memory_radio { 
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
    cursor: pointer;
  }
.product-palette_radio:checked + .product-palette__item, .product-information__characteristics_memory_radio:checked + .product-information__characteristics_memory_item{
    outline: 1px solid red;
}
.characteristics-block__list{
    list-style:none;
    padding-left: 0px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: 16px;
    font-weight: 500;
}
.characteristics-block__list_items::before{
    content: "\2B24";
    font-size: 10px;
    color: #888888;
    margin-right:10px;
}
.characteristics-block__list_items{
    display:flex;
    align-items: center;
}
.poduct-description {
    display: flex;
    flex-direction: column;
    gap: 15px;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
}
.poduct-description__text{
    margin: 0;
}
.poduct-description__headline, .table__headline {
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    margin-bottom: 0px;
}
.tagline{
    font-style:italic;
    font-weight: 400;
}
.product-information__sidebar {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
}
.priceANDdelivery__aboveheadline{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.priceANDdelivery__heartSVGicon_radio{
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
    cursor: pointer;
}
.priceANDdelivery__heartSVGicon_radio:checked > .heartSVGicon{
    fill: #A93A09;
}
.heartSVGicon{
    display: block;
    margin: auto;
    fill: darkgray;
}
.heartSVGicon:hover{
    fill: #F36223;
}
.priceANDdelivery__heartSVGicon_radio:checked + .heartSVGicon{
    fill: #A93A09;
}
.priceANDdelivery__main-headline{
    font-size: 32px;
    font-weight: 500;
    line-height: 39px;
    letter-spacing: 0em;
    text-align: left;

}
.sidebar__priceANDdelivery{
    border: 1px solid #EEEEEE;
    border-radius: 20px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
}
.priceANDdelive__price_cross{
    color: var(--gray-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 16px;
    text-decoration: line-through;
}
.priceANDdelive__price_discount{
    color: white;
    font-size: 16px;
    line-height: 16px;
    font-weight: 500;
    padding: 4px 8px;
    border-radius: 500px;
    background-color: #F36223;
}
.product-information__sidebar__price__main-headline{
    font-weight:500;
    font-size: 32px;
    margin-bottom: 15px;
}
.priceANDdelivery__delivery{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 20px;
}
.priceANDdelivery__delivery-terms{
    display:block;
    font-weight:400;
    font-size: 16px;
    line-height: 19px;
}
.priceANDdelivery__basket-add-button{
    border: 0px solid transparent;
    border-radius: 4px;
    padding: 20px 92px;
    background-color: #F36223;
    color: #FFFFFF;
}
.basket-add-button_used{
    border: 0px solid transparent;
    border-radius: 4px;
    padding: 20px 59px;
    background-color: #888888;
    color: #FFFFFF;
}
.priceANDdelivery__basket-add-button:hover{
    background-color: #DA4A0C;
}
.priceANDdelivery__basket-add-button:active{
    background-color: #A93A09;
} 
.priceANDdelivery__basket-add-button_text{
    display: flex;
    gap: 17px;
    align-items: center;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
}
.priceANDdelivery__basket-add-button_text::before{
    content: url("../img/basket.svg");
    margin: auto;
}
.sidebar__advertisment{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 15px;
}
.sidebar__advertisment_header{
    display:block;
    font-size: 14px;
    font-weight: 400;
    line-height: 16.94px;
    color: var(--gray-color);
}
.sidebar__advertisment_adFrame{
    box-sizing: border-box;
    height: 16.666666666666668em;
    width: 23.333333333333332em;
    padding: 10px;
    border:1px dashed var(--gray-color);
    background: #f0f0f0;
}
.table__compare_caption{
    display: none;
}
.table__compare{
    width: 100%;
    border: 1px solid black;
    border-collapse: collapse;
}
.comparing-block__table{
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.table__compare_cell{
    padding: 10px 0px 10px 0px;
    text-align: center;
    border-left: 1px solid black;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
}
.table__compare_Head-cell{
    border: 1px solid black;
    border-collapse: collapse;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
}
.table__compare_rows:hover{
    background-color: #F2F2F2;
}
.reviews__header{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-content: center;
    margin: 65px 0px 30px 0px;
}
.reviews__header_button {
    padding: 10px 20px;
    border-radius: 4px;
    background-color: white;
    font-size: 16px;
    line-height: 19px;
    font-weight: 500;
}
.reviews__header_nameANDcount{
    display: flex;
    gap: 10px;
    font-size: 24px;
}
.reviews__nameANDcount_headline{
        font-weight: 700;
}

.reviews__nameANDcount_count{
    color: #aaaaaa;
}
.reviews__review_reviewerFoto{
    height: 140px;
    display: block;
    float: left;
    border-radius: 100px;
}
.reviews__review_review-score{
    display: flex;
    margin: 10px 0px;
}
.review__text-block_reviewerName{
    font-size: 20px;
    font-weight: 700;
    line-height: 24.2px;
}
.review-score__container{
    position: relative;
}
.review-score__star, .review-score__star_gray {
    position:relative;
    z-index:1;
    max-height: 1.6666666666666667em;
    max-width: 1.6666666666666667em;
    fill: #FFD017;
}
.review-score__star_gray{
  fill: var(--gray-color) !important;
}
.reviews__review{
    display: flex;
    flex-direction: row;
    gap: 30px;
    padding-bottom: 40px;
}
.review__text-block-content_text{
    margin: 0px;
    font-size: 14px;
    font-weight: 400;
}
.review__text-block-content{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px 0px;
}
.review__text-block-content_text_bold{
    font-size: 14px;
    font-weight: 700;
    line-height: 16.94px;
}
.reviews__horizontal-line{
    border-top: 1px dashed var(--gray-color);
    margin: 0px 0px 40px 170px;
}
.new-review{
    padding: 20px 0px 0px 170px;
}
.new-review__input-form{
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.new-review__input-form__caption{
    font-size: 16px;
    font-weight: 700;
    line-height: 19.36px;
}
.new-review__input-form__fields{
    border: none;
    width: 100%;
    padding: 0px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.new-review__input-form__head{
    position: relative;
    display: flex;
    gap: 40px;
    justify-content: space-between;
}
.input-form__input{
    box-sizing: border-box;
    padding:15px 0px 15px 20px;
    border: 1px solid #888888;
    font-size: 16px;
    font-weight: 500;
    line-height: 19.36px;
    resize:vertical;
}
.input-form__input_textarea::-webkit-resizer{
    display: none;
}
.new-review__input-form__head_name {
    position: relative;
    display: flex;
    flex-direction: column;
    flex-grow: 2;
}
.score_error_message, .name_error_message{
    position: absolute;
    top: 100%;
    display: none;
    font-size: 12px;
    color: white;
    padding: 8px 20px;
    background-color: #DA4A0C;
}
.error_border{
    border-color: #DA4A0C;
}
.score_error, .name_error{
    display: flex;
}
textarea:focus, input:focus{
    outline: none;
}
.errorName{
    background-color: #A93A09;
    height: 10px;

}
.new-review__input-form__head_score {
    position: relative;
    display: flex;
    flex-direction: column;
}
.rating::-webkit-outer-spin-button, .rating::-webkit-inner-spin-button{
    display: none;
}
.input-form__input::placeholder{
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;
    color: var(--gray-color);
}
.input-form__input:active, .input-form__input:hover {
    border: 1px solid black;
}
.input-form__submit-button{
    padding: 10px 20px;
    width: fit-content;
    background-color: #F36223;
    color: white;
    border-radius: 4px;
    border: none;
}
.input-form__submit-button:hover{
    background-color: #DA4A0C;
}
.input-form__submit-button:active{
    background-color: #A93A09;
}
.footer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #F2F2F2;
    padding: 30px 50px;
    margin-top: 100px;
}
.footer__kontakts{
    display: flex;
    flex-direction: column;
}
.kontakts__name{
    font-size: 14px;
    font-weight: 700;
    line-height: 17px;
    letter-spacing: 0em;
    text-align: left;
}
.kontakts__detailed-info, .kontakts__colaboration{
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    letter-spacing: 0em;
    text-align: left;
}
.kontakts__detailed-info_link, .kontakts__colaboration_link{
    color:#008CF0;
}
.footer__anker_NOunderline{
    text-decoration: none;
    font-size: 16px;
    font-weight: 400;
    line-height: 19.36px;
    color: #008CF0;
}
.footer__links:hover{
    color: #DA4A0C;
}
.footer__links:active{
    color: #A93A09;
}
.footer__links:visited{
    color: #A93A09;
}
