.product-information__characteristics-block{
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.characteristics-block__headline_NOmargin{
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  margin: 0;
}
.characteristics-block__product-palette{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}
.product-information__characteristics_memory{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}
.product-information__characteristics_memory_item_selected{
  outline: 1px solid red;
}
.product-information__characteristics_memory_item{
  height: 39px;
  border: 1px solid var(--gray-color);
  border-radius: 4px;
  background-size: 30px;
  background-repeat: no-repeat;
  background-position:center;
  display:flex;
  justify-content:center;
  align-items:center;
  padding: 0px 20px;
}
.product-information__characteristics_memory_item:hover{
  background-color: #F2F2F2;
}